# Node.js - related
node_modules
npm-debug.log
yarn-error.log

# Build outputs
dist
cdk.out
coverage

# Source files
test
**/*.test.ts
**/*.spec.ts
deploy/

# Documentation
*.md

# IDE/editor stuff
.vscode
.DS_Store
*.swp

# Git files
.git
.gitignore

# AWS EB
.elastickbeanstalk

# Docker files
dockerignore
Dockerfile

# Environment keys
.env